<!--  Menú lateral -->
<app-menu-lateral></app-menu-lateral>

<!-- Menu Header -->
<app-menu-header></app-menu-header>

<!-- Contenido propio de Home Docentes -->
<section class="section-home-docentes">
    <!-- Cotenedor donde estarán los botones -->
    <div class="contenedor-general-botones">

        <div class="contenedor-btn-asignatura-periodo">
            <div class="btn-asignatura">
                <span>Asignatura</span>
                <i class="fa fa-angle-down"></i>
            </div>

            <div class="btn-periodo">
                <span>Periodo académico</span>
                <i class="fa fa-angle-down"></i>
            </div>
        </div>
        
        <div class="contenedor-btn-crear">
            <div class="btn-crear" (click)="toggleMostrarAsignatura()">
                <span>Crear asignatura</span>
                <i class="fa fa-plus"></i>
            </div>
        </div>
    </div>

    <!-- Contenedor de la imagen de busqueda y texto -->
    <div class="contenedor-general-img-busqueda">
        <div class="contenedor-img-busqueda">
            <img src="../../../../assets/empezar.png" alt="Imagen de referencia de empezar o búsqueda" />
            <h3>Empezar búsqueda</h3>
            <p>Añade filtros para poder visualizar las materias de su preferencia.</p>
        </div>
    </div>

    <!-- Contenedor para la creación de asingaturas -->
    <div #contenedorCrearAsignatura class="contenedor-general-crear-asignaturas" [ngClass]="{'toggler-contenedor-general-asignatura': boolMostrarAsignatura == true}">
        <div class="contenedor-formulario-crear-asignaturas">
            <h2>Crear asignaturas</h2>
            <form class="">
                <div class="">
                    <label>Nombre asignatura*</label>
                    <label>Número de créditos*</label>
                    <label>Programa académico*</label>
                    <label>Código de asingatura*</label>
                </div>
                <div class="contenedor-input-crear-asignaturas">
                    <input #inputNombreAsignatura type="text" name="nombre" id="nombre"/>
                    <select #selectCreditosAsignatura name="creditos" id="creditos">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>
                      <select #selectCarreraAsignatura name="carrera" id="carrera">
                        <option value="Ingeniería biomédica">Ingeniería biomédica</option>
                        <option value="Ingeniería mecatrónica">Ingeniería mecatrónica</option>
                        <option value="Ingeniería industrial">Ingeniería industrial</option>
                        <option value="Ingeniería mecánica">Ingeniería mecánica</option>
                      </select>
                    <input #inputCodigoAsignatura type="text" name="codigo" id="codigo"/>
                </div>
            </form>

            <!-- Para cancelar o guardar -->
            <div class="contenedor-btn-guardar-cancelar">
                <button class="btn-cancelar-asginatura" (click)="toggleMostrarAsignatura()">Cancelar</button>
                <button class="btn-guardar-asginatura" (click)="crearAsignatura()">Guardar</button>
            </div>
        </div>
    </div>
</section>
