<div class="i-pagina">
    <prueba></prueba>
    <!-- lateral -->
    <div>
        <div class="rjo">
            <div class="rjoName">
                <h4>{{Asignaturas}}</h4>
            </div>
            <div class="rjo1">
                <img class="i-rjo" src="../../../assets/mensajeblack.png" alt="">
                <img class="i-rjo" src="../../../assets/user.png" alt="">
            </div>
        </div>
        <!-- filtros -->
        <div class="i-filter">
            <!-- filtros -->
            <div class="i-drops">
                <div>
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Asignatura
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Periodo académico
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- boton -->
            <div class="i-botonA">
                <button type="button" class="btn btn-primary btn-sm">Crear asignatura</button>
            </div>
        </div>
        <!-- Empezar buscar -->
        <div>
            <componentMateria></componentMateria>
            <div class="i-uaoFondo">
                <img src="../../../assets/UAO-logo-fondo.png" alt="" class="i-imgb">
            </div>
           
        </div>
    </div>
</div>