/* Contenedor: Contiene toda la página o componente */
.i-pagina {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    height: 100vh;
}

/* Se selecciona el segundo elemento hijo (div) */
/* que contiene todo lo demás de la página */
.section-pagina {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 10% 80%;
}

/* Contenedor Header de la página */
.rjo {
    display: grid;
    grid-template-columns: 80% 20%;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid gray;
}

/* Se selecciona el H4 del contenedor Header de la página */
.rjo h4 {
    align-self: center;
    padding-left: .75rem;
}

/* Contenedor de imágenes: Mensaje y Usuario (para cerrar sesión) */
.rjo1 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.rjo1 img {
    align-self: center;
    justify-self: center;
}

/* Contenedor menú de filtros */
.i-filter {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 40% 20%;
}

/* Contenedor: Contiene cada uno de los elementos y submenús */
/* para seleccionar los reportes */
.contenedor-filtro {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: .75rem;
}

.contenedor-filtro button{
    height: 60%;
    text-align: left;
    border: 1px solid black;
}

.contenedor-boton-crear-asignatura {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.contenedor-boton-crear-asignatura button {
    border: 1px solid black;
}

/* Contenedor Section: Sección principal de la página */
.section-pagina-asignaturas {
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url('../../../../assets/UAO-logo-fondo.png');
    background-size: contain;
    background-position: center;
    padding-left: 1%;
}

.section-pagina-asignaturas div:only-child {
    width: 100%;
}

.col div:hover {
    cursor: pointer;
}

/* Contenedor: Crear asignaturas */
.contenedor-crear-asignatura {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0,0,0,0.4);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ocultar-contenedor-asignatura {
    display: none;
}

/* Ventana para crear asignatura */
.crear-asignatura{
    position: relative;
    width: 50%;
    height: 65%;
    background-color: white;
    box-shadow: 0px 2px 10px black;
    border-radius: 2%;
    display: grid;
    grid-template-rows: 15% 65% 20%;
}

.crear-asignatura > h3{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 5%;
    font-size: 1.35rem;
    font-family: 'Roboto';
    text-align: center;
    background-color: #FF0000;
    color: white;
    
}

.formularioCrearAsignatura{
    width: 100%;
    height: 100%;
    padding-left: 5%;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
}

.formularioCrearAsignatura div {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    text-align: left;
}

.formularioCrearAsignatura label {
    font-family: 'Roboto';
    font-weight: bold;
    width: 100%;
    align-self: center;
}

.formularioCrearAsignatura div > label span{
    color: red;
    font-family: 'Roboto';
}

.formularioCrearAsignatura input{
    align-self: center;
    justify-self: left;
    width: 80%;
    height: 50%;
    padding-left: 2%;
    font-family: 'Roboto';
    font-size: 1rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    color: black;
}

.formularioCrearAsignatura button{
    font-family: 'system-ui';
    font-size: 1.5rem;
    border-radius: 25px;
    padding: .75rem;
    background-color: rosybrown;
}

/* Contenedor de botones */
.contenedor-botones-crear-asignatura{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-cancelar-asignatura, .boton-guardar-asignatura{
    font-family: 'Roboto';
    color: white;
    border: none;
    border-radius: 5%;
    padding: 2%;
    font-size: 1rem;
}

.boton-cancelar-asignatura{
    background-color: #A4A9AD;
    margin-right: 2%;
}

.boton-guardar-asignatura{
    background-color: #37C47A;
}

.contenedor-botones-crear-asignatura button:hover{
    cursor: pointer;
}