<div class="body-iniciar-sesion">
    <!-- Imagen de logo -->
    <img class="logo" src="{{imgLogoUao}}" alt="Logo uao-accreditation" />

    <!-- Formulario de inciar sesión -->
    <div class="contenedorFormulario">
        <h3>¡Bienvenido!</h3>

        <form class="formularioIniciarSesion">
            <input #nombreUsuario type="text" name="" placeholder="Usuario *" /><br><br>
            
            <div>
                <input #contrasena type="password" name="" placeholder="Contraseña *" />
                <i class="fa fa-eye"></i>
            </div>            

            <button (click)="clickIniciarSesion(); false" class="btn-iniciar-sesion">Iniciar sesión</button>
            <a href="">¿Olvidó su contraseña?</a>
        </form>

    </div>
</div>
