<div class="i-pagina">
    <!-- Menú lateral -->
    <prueba></prueba>

    <!-- Section de la página -->
    <div class="section-pagina">
        <!-- Menú Header de la página (En la parte top de la página) -->
        <div class="rjo">
            <!-- Titulo: Evidencias -->
            <h4>{{descripcion}}</h4>
            
            <!-- Contenedor de iconos mensaje y usuario (para cerrar sesión) -->
            <div class="rjo1">
                <img class="i-rjo" src="../../../assets/mensajeblack.png" alt="">
                <img class="i-rjo" src="../../../assets/user.png" alt="">
            </div>
        </div>

        <!-- Menú de filtros: Filtrar por asignatura, periodo académico o crear asignatura -->
        <div class="i-filter">
            
            <!-- Filtro de asignatura -->
            <div class="dropdown contenedor-filtro">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Asignatura
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>

            <!-- Filtro de periodo académico -->
            <div class="dropdown contenedor-filtro">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Periodo académico
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
            

            <!-- Filtro de student outcomes -->
            <div class="dropdown contenedor-filtro">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Student Outcomes
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
            
            <!-- Filtro de Indicadores de desempeño -->
            <div class="dropdown contenedor-filtro">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Indicadores de desempeño
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
                
            <!-- Botón para crear grupo -->
            <div class="contenedor-boton-crear-asignatura">
                <button type="button" class="btn btn btn-light">Crear grupo</button>
            </div>
        </div>


        <!-- Sección de la sección principal. -->
        <!-- Se muestra la imagen de búsqueda y demás detalles -->
        
        <!-- Contenedor de prototipo. -->
        <!-- Muestra la imagen de la lupa e información para empezar a buscar -->
        <!-- Tabla -->
        <div>
            <table matSort (matSortChange)="sortData($event)">
                <tr class="upper">
                  <th mat-sort-header="nombre">Nombre</th>
                    <th mat-sort-header="fecha_mod">Fecha modificación</th>
                    <th mat-sort-header="tipo">Tipo</th>
                    <th mat-sort-header="tamano">Tamaño (MB)</th>
                </tr>

                <tr *ngFor="let Archivo of sortedData">
                    <td>{{Archivo.nombre}}</td>
                    <td>{{Archivo.fecha_mod}}</td>
                    <td>{{Archivo.tipo}}</td>
                    <td>{{Archivo.tamano}}</td>
                </tr>
            </table>
        </div>

    </div>
</div>
