<div class="i-pagina">
    <prueba></prueba>
    <!-- lateral -->
    <div>
        <div class="rjo">
            <div class="rjoName">
                <h4>{{Grupos}}</h4>
            </div>
            <div class="rjo1">
                <img class="i-rjo" src="../../../assets/mensajeblack.png" alt="">
                <img class="i-rjo" src="../../../assets/user.png" alt="">
            </div>
        </div>
        <!-- Tabla -->
        <div>
            <table matSort (matSortChange)="sortData($event)">
                <tr class="upper">
                  <th mat-sort-header="nombre">Nombre</th>
                    <th mat-sort-header="fecha_mod">Fecha modificación</th>
                    <th mat-sort-header="tipo">Tipo</th>
                    <th mat-sort-header="tamano">Tamaño (MB)</th>
                </tr>

                <tr *ngFor="let Archivo of sortedData">
                    <td>{{Archivo.nombre}}</td>
                    <td>{{Archivo.fecha_mod}}</td>
                    <td>{{Archivo.tipo}}</td>
                    <td>{{Archivo.tamano}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
