<div class="top">
    Profesor: {{ nombre_profesor }}
    <button type="button" style="margin-left:60px" mat-flat-button color="green">
        Enviar mensaje
    </button>
</div>
<mat-grid-list cols="8" rowHeight="1:1">
    <mat-grid-tile>
        <app-carpetaEvidencia></app-carpetaEvidencia>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-carpetaEvidencia></app-carpetaEvidencia>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-carpetaEvidencia></app-carpetaEvidencia>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-carpetaEvidencia></app-carpetaEvidencia>
    </mat-grid-tile>
</mat-grid-list>
