<div class="row row-cols-1 row-cols-md-4">
    <div class="col">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/fun.png" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="card-img-overlay">
            <h5 class="a" style="color: aliceblue;">Fundamentos de Ingeniería multimedia</h5>
        </div>
            <p class="card-text">Cantidad de cursos hasta la fecha: 50<br>Código de asignatura: 34999<br> Periodo
                académico: 2021-03 </p>
        </div>
    </div>
    </div>
    <div class="col">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/sem.png" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="card-img-overlay">
          <h5 class="card-title" style="color: aliceblue;">Seminario taller multimedia</h5>
            </div>
          <p class="card-text">Cantidad de cursos hasta la fecha: 40<br>Código de asignatura: 34453<br>  Periodo académico: 2021-03 </p>
          
        </div>
      </div>
      </div>
      <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/comp.png" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="card-img-overlay" style="color: aliceblue;">
          <h5 class="card-title">Computación multimedia</h5>
          </div>
          <p class="card-text">Cantidad de cursos hasta la fecha: 32<br>Código de asignatura: 32253<br>  Periodo académico: 2021-03 </p>
          
        </div>
      </div>
    </div>
</div>