/* Menu lateral: Side-Menu */
.side-menu{
    width: 20%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(255, 0, 229, 0) 0%, rgba(255, 0, 0, 0.56) 0.01%, rgba(255, 0, 0, 0.7) 72.92%, rgba(255, 0, 0, 0.7) 100%);
    display: grid;
    grid-template-rows: 15% 85%;
    position: fixed;
}

/* Imagen de fondo del menú lateral: Librería */
.side-menu::before{    
    content: "";
    background-image: url("../../../../assets/imgs/libreria.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
}

/* Contenedor de la imagen del menú lateral */
.side-menu > div{
    z-index: 1;
    width: 90%;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

/* Imagen del menú lateral */
.side-menu > div > img{
    width: 35%;
}

/* Lista que contiene los li y los links  */

.side-menu ul{
    width: 90%;
    list-style-type: none;
    padding: 0;
    z-index: 1;
    justify-self: center;
}

/* Contenedor o li para cada link */
.side-menu li{
    display: flex;
    width: 100%;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    border-bottom: 1px solid white;
}

/* Links de cada menú: Usuario, Asignaturas, Grupos, Mensajes y Reportes */
.side-menu a{
    padding-top: .75rem;
    padding-bottom: .75rem;
    width: 100%;
    color: white;
    text-decoration: none;
    font-family: 'Roboto';
    display: grid;
    grid-template-columns: 80% 20%;
}

.side-menu a:hover{
    background: rgba(242, 242, 242, 0.2);
    border-radius: .5rem;
}

.side-menu a > div{
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: .5rem;
}

.side-menu a .flecha{
    align-self: center;
    padding-top: 12%;
    justify-self: center;
}