<!--  Menú lateral -->
<nav class="side-menu">
    <div>
        <img src="../../../assets/imgs/uao-accreditation-blanco.svg" alt="Logo UAO-ACCREDITATION" />
    </div>        
    <ul>
        <li>
            <a href="#">
                <div>
                    <img src="../../../assets/imgs/libros-educativos.png" alt="Icono libros"/>
                    &emsp;
                    <span>Andrés Chapman</span>
                </div>
                <img class="flecha" src="../../../assets/imgs/flecha.png" alt="Icono flecha" />
            </a>
        </li>

        <li>
            <a href="">
                <div>
                    <img src="../../../assets/imgs/libros-educativos.png" alt="Icono libros" />
                    &emsp;
                    <span>Asignaturas</span>
                </div>
                <img class="flecha" src="../../../assets/imgs/flecha.png" alt="Icono flecha" />
            </a>
        </li>

        <li>
            <a href="">
                <div>
                    <img src="../../../assets/imgs/grupos.png" alt="Icono grupos" />
                    &emsp;
                    <span>Grupos</span>
                </div>
                <img class="flecha" src="../../../assets/imgs/flecha.png" alt="Icono flecha"/>
            </a>
        </li>

        <li>
            <a href="">
                <div>
                    <img src="../../../assets/imgs/mensajes.png" alt="Icono mensajes"/>
                    &emsp;
                    <span>Mensajes</span>
                </div>
                <img class="flecha" src="../../../assets/imgs/flecha.png" alt="Icono flecha"/>
            </a>
        </li>

        <li>
            <a href="">
                <div>
                    <img src="../../../assets/imgs/reportes.png" alt="Icono reportes"/>
                    &emsp;
                    <span>Reportes</span>
                </div>
                <img class="flecha" src="../../../assets/imgs/flecha.png" alt="Icono flecha"/>
            </a>
        </li>
    </ul>
</nav>
