    <!-- lateral -->
    <div class="i-containner">
        <div class="o-rr">
            <div class="i-container1">
                <img src="../../../assets/LogoUAO.png" alt="" class="i-logo">
            </div>
            <div class="i-container2">
                <img src="../../../assets/Profile.png" alt="" class="i-imgb">
                <h6>{{NombreProfesor}}</h6>
                <img class="i-triangulo" src="../../../assets/Polygon8.png">
            </div>
            <div class="i-container2">
                <img src="../../../assets/libros.png" alt="" class="i-imgb">
                <h6>Asignatura</h6>
                <img class="i-triangulo" src="../../../assets/Polygon8.png">
            </div>
            <div class="i-container2">
                <img src="../../../assets/educacion.png" alt="" class="i-imgb">
                <h6>Grupos</h6>
                <img class="i-triangulo" src="../../../assets/Polygon8.png">
            </div>
            <div class="i-container2">
                <img src="../../../assets/mensaje.png" alt="" class="i-imgb">
                <h6>Mensaje</h6>
                <img class="i-triangulo" src="../../../assets/Polygon8.png">
            </div>
            <div class="i-container2">
                <img src="../../../assets/reporte1.png" alt="" class="i-imgb">
                <h6>Reporte</h6>
                <img class="i-triangulo" src="../../../assets/Polygon8.png">
            </div>
        </div>
        <div>
            <img class="i-fondo" src="../../../assets/rojo.png" alt="">
        </div>

    </div>
