/* Contenedor: Contenedor de asignaturas */
.i-container{
    /* Se utiliza display grid */
    /* para dividir en dos filas todo el contenedor del menú */
    display: grid;
    grid-template-rows: 20% 80%;
    /* El ancho se ha dispuesto del 100% */
    /* Ya que el presente componente se inserta dentro de otro componente */
    /* El cual automáticamente por medio del display grid, le asigna un width del 25% */
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/rojo.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* Todos los elementos dentro del menu-lateral */
    /* (incluido el h6) tendra como color de texto blanco */
    color: white;
}

/* Contenedor: Contiene la imagen del logo */
.i-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Imagen: Logo del menú al principio */
.i-logo{
    /* Se alinea la imagen del logo */
    /* al centro de su disposición */
    width: 25%;
}

/* Contenedor del menú */
.o-rr{
    /* Se utiliza display grid */
    /* para organizar cada Contenedor de cada elemento */
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 100%;
    height: 70%;
}

/* Contenedor de cada elemento del menú */
.i-container2{
    /* Se aplica display grid. Tres columnas: */
    /* Img, h6 e img de la flecha */
    justify-self: center;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 85%;
    height: 100%;
    border-top: 1px solid white;
}

/* Efecto Hover */
.i-container2:hover{
    background: rgba(242, 242, 242, 0.2);
    border-radius: .5rem;
    cursor: pointer;
}

/* Seleccionando todas las imagenes del contenedor i-container2 */
.i-container2 img{
    width: 60%;
    align-self: center;
    justify-self: center;
}

.i-container2 img:nth-child(3){
    width: 30%;
}

/* H6 del container i-container2 */
.i-container2 h6{
    height: 100%;
    width: 100%;
    font-family: 'Roboto';
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    align-self: center;
    justify-self: flex-start;
    padding-left: 5%;
    margin: 0;
}

