 /* Contenedor general: Contiene toda la página */
 .i-pagina{
    display: flex;
}
.btnfiltross{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    border-color: black;
}
/* Se selecciona el segundo elemento hijo (div) */
/* que contiene todo lo demás de la página */
.section-pagina {
    width: 100rem;
    height: 100vh;
    margin-left: 50px;
    display: grid;
} 
.section-pagina-asignaturas div:only-child {
    width: 100%;    
}
/* Contenedor Header de la página */
.rjo {
    width: 99rem;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid gray;    
    /*width: 12rem;
    height: 70px;
    display: flex; .p
    justify-content: space-around;
    align-items: center;*/
}
/* Se selecciona el H4 del contenedor Header de la página */
.rjo h4 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;    
}
/* Contenedor de imágenes: Mensaje y Usuario (para cerrar sesión) */
.rjo1{
    width: 12rem;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}
.rjo1 img {
    align-self: center;
    justify-self: center;    
}
/* Contenedor menú de filtros */
.i-filter {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 92rem;
}
/* Contenedor: Contiene cada uno de los elementos y submenús */
/* para seleccionar los reportes */
.contenedor-filtro {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
}
.rjoName{
    width: 10rem;
    height: 70px;
    display: flex;
    align-items: center;    
}
.contenedor-filtro button{
    height: 60%;
    font-size: .75rem;
    text-align: left;
    border: 1px solid black;    
}
.contenedor-boton-crear-asignatura {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-boton-crear-asignatura button {
    border: 1px solid black; 
}/*AQUI FALTA ALGO */
.section-pagina-asignaturas div:only-child {
    width: 100%; 
}
.col div:hover {
    cursor: pointer;
}
/* Contenedor: Crear asignaturas */
.contenedor-crear-asignatura {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0,0,0,0.4);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.ocultar-contenedor-asignatura {
    display: none; 
}
.i-empezar{
    position: absolute;
    width: 95rem;
    height: 45rem;
    display: flex;flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.i-uaoFondo{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:98rem;
    height: 100%;
} 
.i-drops{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45rem;    
 }
 .p{
    font-size: 24px;
    font-weight: bold;
}