.contenedor-general-tabla {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;    
}

.contenedor-general-tabla > div {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    width: 75%;
    height: 95%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* input {
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 3%;
    font-family: 'Roboto';
    font-size: 1rem;
} */

/* span {
    font-family: 'Roboto';
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}  */

.contenedor-campos-iniciales {
    display: grid;
    grid-template-columns: 20% 80%;
}

/* Span para practicamente todos los 'labels' (son spans) */
/* de cada input */
.padding-span {
    padding: 5%;
}

.contenedor-profesores-criterios-grafico {
    display: grid;
    grid-template-columns: 80% 20%;
}

.contenedor-prof-cri {
    display: grid;
    width: 100%;
    grid-template-rows: 15% 15% 15% 15% 15%;
}

.row-contenedor-prof-cri {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 10% 15% 13% 13% 14% 15%;
}

.total-prof-cri {
    display: grid;
    width: 100%;
    grid-template-rows: 40% 60%;
}

.total-prof-cri span{
    font-size: .75rem;
}

.span-criterios {
    font-size: .85rem;
}

.contenedor-grafico {
    width: 100%;
    display: grid;
    grid-template-rows: 20% 60% 20%;
}

.contenedor-grafico h3 {
    font-family: 'Roboto';
    font-size: .90rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.contenedor-grafico p {
    font-family: 'Roboto';
    font-size: .75rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.contenedor-profesores-grupo-acciones {
    display: grid;
    grid-template-columns: 80% 20%;
}

.contenedor-profesores-grupo {
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.row-contenedor-profesores-grupo {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.contenedor-acciones {
    display: grid;
    grid-template-rows: 30% 70%;
}

.contenedor-acciones h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: .75rem;
    border-bottom: 1px solid black;
}

.contenedor-acciones textarea{
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: .65rem;
    padding: 2%;
    border: none;
    border-bottom: 1px solid black;
}

