<!-- Menu Header -->
<app-menu-header></app-menu-header>

<!-- Menu lateral -->
<app-menu-lateral></app-menu-lateral>

<!-- Contenedor general de toda la estructura -->
<!-- <div class="contenedor-general-tabla">
    
    <div class="contenedor-tabla">
        Programa académico
        <div class="contenedor-campos-iniciales">
            <span>Programa académico:</span>
            <input type="text" />
        </div>
        <div class="contenedor-campos-iniciales">
            <span>Asignatura:</span>
            <input type="text" />
        </div>
        <div class="contenedor-campos-iniciales">
            <span>Periodo académico:</span>
            <input type="text" />
        </div>
        <div class="contenedor-campos-iniciales">
            <span>Student Outcomes:</span>
            <input type="text" />
        </div>
        <div class="contenedor-campos-iniciales">
            <span>Total estudiantes:</span>
            <input type="text" />
        </div>
        <div class="contenedor-profesores-criterios-grafico">
            <div class="contenedor-prof-cri">
                <div class="row-contenedor-prof-cri">
                    <span class="padding-span">Profesores</span>
                    <span class="">Peso</span>
                    <span class="">Criterios</span>
                    <span class="span-criterios">Deficiente<br/>0.0 - 2.9</span>
                    <span class="span-criterios">Aceptable<br/>3.0 - 3.7</span>
                    <span class="span-criterios">Bueno<br/>3.8 - 4.4</span>
                    <span class="span-criterios">Sobresaliente<br/>4.5 - 5.0</span>
                </div>
                <div class="row-contenedor-prof-cri">
                    <span>Victor manuel</span>
                    <span>50%</span>
                    <span>1.1, 1.2, 2.1, 2.2</span>
                    <span>5</span>
                    <span>5</span>
                    <span>10</span>
                    <span>10</span>
                </div>
                <div class="row-contenedor-prof-cri">
                    <span>Victor manuel</span>
                    <span>50%</span>
                    <span>1.1, 1.2, 2.1, 2.2</span>
                    <span>5</span>
                    <span>5</span>
                    <span>10</span>
                    <span>10</span>
                </div>
                <div class="row-contenedor-prof-cri">
                    <span>Victor manuel</span>
                    <span>50%</span>
                    <span>1.1, 1.2, 2.1, 2.2</span>
                    <span>5</span>
                    <span>5</span>
                    <span>10</span>
                    <span>10</span>
                </div>
                <div class="row-contenedor-prof-cri">
                    <span>Victor manuel</span>
                    <span>50%</span>
                    <span>1.1, 1.2, 2.1, 2.2</span>
                    <span>5</span>
                    <span>5</span>
                    <span>10</span>
                    <span>10</span>
                </div>
                <div class="row-contenedor-prof-cri">
                    <span>Victor manuel</span>
                    <span>50%</span>
                    <span>1.1, 1.2, 2.1, 2.2</span>
                    <span>5</span>
                    <span>5</span>
                    <span>10</span>
                    <span>10</span>
                </div>
                <div class="row-contenedor-prof-cri">
                    <span class="padding-span">&emsp;</span>
                    <span class="padding-span">100%</span>
                    <div class="total-prof-cri">
                        <span>Promedio total:</span>
                        <span>Promedio acumulado:</span>
                    </div>
                    <div class="total-prof-cri">
                        <span>&emsp;</span>
                        <span>&emsp;</span>
                    </div>
                    <div class="total-prof-cri">
                        <span>&emsp;</span>
                        <span>&emsp;</span>
                    </div>
                    <div class="total-prof-cri">
                        <span>&emsp;</span>
                        <span>&emsp;</span>
                    </div>
                    <div class="total-prof-cri">
                        <span>&emsp;</span>
                        <span>&emsp;</span>
                    </div>
                </div>
            </div>
            <div class="contenedor-grafico">
                <h3>Gráfico de ponderación de resultados</h3>
                <img src="https://thumbs.dreamstime.com/z/d-cake-diagram-colored-illustration-flat-style-design-73286499.jpg" width="100%" />
                <p>Deficiente, Aceptable, Bueno, Sobresaliente</p>
            </div>
        </div>
        <div class="contenedor-campos-iniciales">
            <span>&emsp;</span>
            <input type="text" />
        </div>
        <div class="contenedor-profesores-grupo-acciones">
            <div class="contenedor-profesores-grupo">
                <div class="row-contenedor-profesores-grupo">
                    <span>Profesores</span>
                    <span>Grupo</span>
                    <span>Análisis de resultado</span>
                    <span>Acciones de mejora</span>
                </div>
                <div class="row-contenedor-profesores-grupo">
                    <span>Victor manuel</span>
                    <span>1</span>
                    <span>Texto ejemplo</span>
                    <span>Texto ejemplo</span>
                </div>
                <div class="row-contenedor-profesores-grupo">
                    <span>Victor manuel</span>
                    <span>1</span>
                    <span>Texto ejemplo</span>
                    <span>Texto ejemplo</span>
                </div>
                <div class="row-contenedor-profesores-grupo">
                    <span>Victor manuel</span>
                    <span>1</span>
                    <span>Texto ejemplo</span>
                    <span>Texto ejemplo</span>
                </div>
                <div class="row-contenedor-profesores-grupo">
                    <span>&emsp;</span>
                    <span>&emsp;</span>
                    <span>&emsp;</span>
                    <span>&emsp;</span>
                </div>
            </div>
            <div class="contenedor-acciones">
                <h2>Acciones de mejora propuestas por el director</h2>
                <textarea cols="4" rows="5" placeholder="Texto ejemplo de acciones de mejora propuestas por el director"></textarea>
            </div>
        </div>
    </div>
</div> -->
