<div class="container-fluid">
    <div class="card" style="width: 18rem;" (click)="irEvidencia()">
        <h5 class="card-title">Fundamentos de Ingeniería multimedia</h5>
        <img src="../../../assets/fun.png" class="card-img-top" alt="...">
        <div class="card-body">
            
            <p class="card-text">Periodo académico: 2021-03 </p>
            <p class="card-text">Grupo: 2 </p>
            <p class="card-text">Código: 34999 </p>
            <p class="card-text">Profesor: Victor Manuel</p>
            <p class="card-text">Student Outcomes: RAE-1, RAE-2</p>
        </div>
    </div>
</div>