h5{
    color: white;
}
.card-title{
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 5px;  
    padding-left: 5px;
}

